/*每种浏览器默认的html body的margin padding值不同*/
body, html {
    margin: 0;
    padding: 0;
}

* {
    font-family: Poppins, serif;
}

ul {
    margin: 0;
}

.inner {
    max-width: 1180px;
    margin: 0 auto;
}

.sim-nav {
    width: 100%;
    height: 64px;
    z-index: 100;
    position: fixed;
    font-weight: 200;
    background-color: #fff;
}

.sim-nav .title {
    float: left;
    color: #3090e4;
    margin: 14px;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
}


.sim-nav .nav-right {
    float: right;
}

.sim-nav .nav-menu {
    margin: 0;
}

.sim-nav .menu {
    margin: 0 1em;
    padding: 0;
}

.sim-nav .nav-right .active {
    color: #91bef0;
    border-bottom: 4px solid #91bef0;
}

.sim-nav .nav-right li {
    height: 60px;
    color: #3090e4;
    font-size: 18px;
    display: inline-block;
    /*让块级元素显示在一行 text-align: -webkit-match-parent;*/
}

.sim-nav .nav-right a {
    color: inherit;
    padding: 0 20px;
    line-height: 60px;
    text-decoration: none;
}

/***********************************************************/

.sim-view {
    padding-top: 60px;
    text-align: center;
}

.sim-view .logo {
    margin: 128px 0 64px 0;
}

.sim-view .notice-board {
    width: 90%;
    margin: 32px auto;
    background-color: #f8f8ff;
}

.sim-view .notice-board .container {
    width: 60%;
    margin: 32px auto;
}

.sim-view .notice-board .intro h1 {
    font-weight: 500;
    color: #3090e4;
}


.sim-view .notice-board .content p {
    color: #565e64;
}

.sim-view .notice-board .content a {
    padding: 1px 10px;
    font-family: Poppins;
    font-size: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #91bef0;
    border-radius: 10px;
    color: #565e64;
    text-decoration: none;
}

.sim-view .notice-board .content a:hover {
    color: #f0f0f0;
    background-color: #3090e4;
}


.sim-view .releases .sub-nav {
    width: 90%;
    margin: 16px auto 5px auto;
    display: flex;
    font-weight: 500;
    color: #3090e4;
    align-self: flex-start;
}

.sim-view .releases .release-entry-list {
    width: 90%;
    margin: 0px auto 32px auto;
    /*background-color: #91bef0;*/
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

.sim-view .release-entry-list .release-entry {
    display: flex;
    flex-direction: row;
}

.sim-view .release-entry .entry-left {
    width: 20%;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 3px 20px 0 0;
}

.sim-view .release-entry .entry-text {
    font-size: 17px;
    font-weight: 500;
    color: #3090e4;
}

.sim-view .release-entry .entry-right {
    width: 80%;
    padding: 3px 0 0 20px;
}

.sim-view .release-entry .changelist {
    margin: 12px 0;
}


.sim-view .entry-right p {
    /*padding-top: 5px;*/
    text-align: left;
    /*padding-left: 10px;*/
    margin: 0;
}

.sim-view .details-of-operation a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #565e64;
    padding-left: 0;
}

.sim-view .details-of-operation span {
    font-size: 15px;
    font-weight: 500;
    color: #565e64;
}

.sim-view .changelist h3 {
    font-weight: bold;
    padding-right: 5px;
    text-align: left;
    font-size: 15px;
    color: #565e64;
    margin: 0;
}

.sim-view .changelist li {
    text-align: left;
    font-size: 10px;
    font-weight: 500;
    color: #565e64;
}

.sim-view .user-reactions {
    display: flex;
    padding: 10px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.sim-view .user-reactions .reaction-item {
    border-radius: 25px;
    border: none;
    background-color: #f0f0f0;
    margin-left: 10px;
    padding: 3px 10px;
}

.sim-view .user-reactions .reaction-item:hover {
    background-color: lightgrey;
}

.sim-view .user-reactions .reaction-item img {
    vertical-align: middle;
    width: 18px;
    height: 18px;
}

.sim-view .user-reactions .reaction-item span {
    vertical-align: middle;
    font-size: 15px;
    padding-left: 5px;
}


.sim-view .user-reactions .dropdown summary {
    list-style: none;
    border: none;
}

.sim-view .user-reactions .dropdown-sum img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

.sim-view .dropdown-icon img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.sim-view .user-reactions .dropdown ul {
    padding: 0;
    position: absolute;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #fff;
    border: 1px solid lightgray;
}

.sim-view .user-reactions .dropdown li {
    list-style: none;
    padding: 5px 5px;
}

.sim-view .user-reactions .dropdown button {
    border: 0;
    border-radius: 10px;
    background-color: #fff;
}

.sim-view .user-reactions .dropdown button:hover {
    background-color: #f0f0f0;
}

.sim-view .user-reactions .dropdown .dropdown-menu img {
    width: 22px;
    height: 22px;
    padding: 5px 5px 2px 5px;
}


.sim-footer {
    margin-bottom: 32px;
}

.sim-footer .footer {
    text-align: center;
}

.copyright {
    margin: 5px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    color: #565e64;
}

.icp {
    text-decoration: none;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    color: #565e64;
}
